.block {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}

	&-container {
		width: 45%;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 10px;

		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 20px;
		}

	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

ul li:last-child {
	border-bottom: none;
}

ul li h2 {
	margin: 0;
	font-size: 16px;
	color: #333;
}